<div id="post_wrapper">
  <div id="container">
    <div class="contents">
      <div class="new_box" id="new">
        <h2>レシピを作成する</h2>
        <%= form_for @post do |f| %>
          <div class="form">
            <div class="form-body">
              <%= f.label :タイトル %>
              <%= f.text_field :title, id: :title %>
              
              <%= f.label :写真 %>
              <%= f.file_field :picture, id: :picture %>
              
              <%= f.label :材料 %>
              <%= f.text_area :zairyo, id: :zairyo %>

              <%= f.label :作り方＆コツ %>
              <%= f.text_area :step, id: :step %>
              
              <%= f.submit :投稿 %>
            </div>
          </div>
        <% end %>
          
      </div>
      <div class="modoru">
        <div class="btn-recipe">
          <%= link_to("戻る","/posts/index") %>
        </div>
      </div>
    </div>
  </div>
</div>  