<div id="post_wrapper">
  <div id="container">
    <div class="contents">
      <div class="show_box" id="show_title">
        <h2>
          <%= @post.title %>
        </h2>
        <%= image_tag @post.picture.url if @post.picture? %>
        <h3>材料</h3>
        <div class="ingredients_list">
          <p><%= simple_format(@post.zairyo) %></p>
        </div>
        <div class="recipe_point">
        <h3>作り方＆コツ</h3>
        <div class="recipe_step">
           <p><%= simple_format(@post.step) %></p>
        </div>
      </div>

        <div class="edit_destroy">
          <ul>
            <li><%= link_to("編集", "/posts/#{@post.id}/edit") %></li>
            <li><%= link_to("削除", "/posts/#{@post.id}/destroy", {method:"post"}) %></li>
          </ul>
        </div>


      </div>
      <div class="modoru">
        <div class="btn-recipe">
          <%= link_to("戻る","/posts/index") %>
        </div>
      </div>
    </div>
  </div>
</div>